@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kulim+Park:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --background: #000;
  --buttons: #df994e;
  --text: #fff;
  --secondaryText: #666;
}
body {
  font-family: "Kulim Park", sans-serif;
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--text);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  width: 100vw;
  height: 1034px;
  padding: 20px 100px;
  background: var(--background) url("../imagens/banner.svg") no-repeat center/cover;
}

header #header-topo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
  padding: 10px;
}

#apresentacao h1 {
  font-weight: bold;
  font-size: 12.8rem;
}

#apresentacao p {
  color: var(--buttons);
  font-size: 3.2rem;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 2rem;
}

main .container {
  margin-top: 20rem;
  padding: 46px;
}

#perfil {
  display: flex;
  justify-content: space-between;
  gap: 6.8rem;
  margin: 0 7rem;
}

#perfil-texto {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h2 {
  font-size: 64px;
  font-weight: bold;
}

#perfil-texto p {
  font-family: "Inter", sans-serif;
  color: var(--secondaryText);
  width: 569px;
  font-size: 30px;
  font-weight: light;
}

button {
  font-family: "Inter", sans-serif;
  background-color: var(--buttons);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 74px;
  font-size: 30px;
  border-radius: 2px;
  cursor: pointer;
}
#servicos {
  margin-top: 20rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10.3rem;
  align-items: center;
  justify-content: flex-start;
}

#servicos-container {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
}
#servicos-container img {
  display: flex;
  margin-top: 15rem;
  align-self: flex-start;
}

#listas-container {
  display: flex;
  gap: 2rem;
}

#lista-numeros {
  font-size: 6rem; /* Ajuste o tamanho conforme necessário */
  color: var(--buttons); /* Personalize a cor */
  font-weight: bold; /* Deixe os números em negrito */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13rem;
}

#lista-texto {
  max-width: 451px;
  width: 451px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
}

.titulo {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 4.7rem;
}

.descricao {
  font-family: "Inter", sans-serif;
  font-weight: light;
  font-size: 2.5rem;
  color: var(--secondaryText);
}

#clientes {
  margin-top: 20rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 4.3rem;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--text);
  width: 100vw;
  height: 917px;
  padding-top: 10rem;
}

#clientes h2 {
  color: var(--background);
  font-size: 7rem;
}

#clientes > p {
  color: var(--secondaryText);
  font-size: 3.2rem;
  margin: 0 8rem;
  text-align: center;
}

#cards-container {
  display: flex;
  gap: 5rem;
}

.card {
  background-color: var(--background);
  width: 368px;
  height: 343px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card p {
  color: var(--text);
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}
#quote h2 {
  margin: 0 3rem;
  text-align: center;
}
#quote p {
  color: var(--secondaryText);
  font-size: 3.2rem;
  font-weight: 300;
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

#contato-container {
  display: flex;
  align-self: center;
  align-items: space-between;
  gap: 6rem;
}

#contato-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

#contato-lista h2 {
  font-size: 50px;
  font-weight: 600;
}

#contato-lista p {
  color: var(--secondaryText);
  font-size: 25px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 3rem;
  padding: 15px;
}

footer ul {
  display: flex;
  gap: 2rem;
}

footer p {
  color: var(--secondaryText);
}

button:hover {
  background-color: #dd8323;
  transform: scale(1.05);
}
